@import '../../../assets/scss/variables/colors';
@import '../../../assets/scss/variables/typography';
@import '../../../assets/scss/variables/media';
@import '../../../assets/scss/mixins/mixins';

.card {
  font-size: 0;
  min-width: 212px;
  width: 212px;
  max-width: 280px;
  height: 229px;
  max-height: 290px;
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: map-get($card, bg);
  }
  &--fluid {
    width: 100%;
    height: auto;

    @each $query in $cards-media {
      @include media-min(nth($query, 2)) {
        width: calc((100% / #{nth($query, 1)}) - 10px);
      }
    }
  }

  .card__image {
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &.card--selected {
    .card__image::after {
      position: absolute;
      content: '';
      bottom: 10px;
      right: 10px;
      width: 22px;
      height: 22px;
      background: url('../../../assets/images/Check_Icon.png');
    }
  }

  .card__info {
    width: 100%;
    padding-top: 13px;
    text-align: left;
    font-size: map-get($font--size, base);
    .card__filename {
      margin: 0;
      color: map-get($card, filename);
    }

    .card__info__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 7px;
      font-size: 0;
      .card__meta {
        color: map-get($card, meta-info);
        font-size: map-get($font--size, info);
        font-weight: map-get($font--weight, info);
      }

      .card__options-button {
        font-size: 0;
        margin-right: -8px;
        padding: 7px;
        display: inline-block;
        position: relative;

        &:hover {
          background-color: map-get($card, options__bg);
          border-radius: 2px;
        }
        .options__icon {
          path {
            fill: map-get($card, options);
          }
        }
      }
    }
  }
}
