/* use maps to store element-specific colors */

$colors: (
  1: #505155,
  2: #8a8a8a,
  3: #c1c1c1,
  4: #9d9d9d,
  5: #3f4044,
  6: #ededed,
  7: #d5d5d5,
  8: #999999,
  9: #929292,
  10: #919191,
  11: #888888,
  12: #737376,
  13: #676767,
  14: #505155,
  15: #007be8,
  16: #ffffff,
);

$btn-text: (
  default: map-get($colors, 2),
);

$btn-bg: (
  default: none,
);

$btn-border: (
  default: none,
);

$nav: (
  bg: #f4f4f4,
  section-title: map-get($colors, 3),
);

$progress-bar: (
  label: map-get($colors, 2),
  value: map-get($colors, 15),
  container: map-get($colors, 7),
);

$labels: (
  1: #fe5151,
  2: #35b747,
  3: #088bd6,
  4: #ba61f2,
  5: #e9d33c,
);

$input-search: (
  bg: map-get($colors, 14),
  text: map-get($colors, 9),
);

$header: (
  dark: (
    bg: map-get($colors, 5),
  ),
  light: (
    bg: map-get($colors, 16),
    border: map-get($colors, 6),
  ),
);
