@import 'variables/typography';
@import 'variables/colors';

@import 'mixins/mixins';

@import './elements/buttons';

@import url($font--url);

html {
  box-sizing: border-box;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: map-get($font--size, base);
  font-weight: 500;
  height: 100vh;
  #root {
    height: 100vh;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// button {
//   display: flex;
//   align-items: center;
//   font-size: inherit;
//   font-weight: inherit;
//   color: $btn-color-default;
//   background: $btn-bg-default;
//   // border: none;
//   cursor: pointer;
//   height: $btn-height-default;

//   img {
//     margin-right: 10px;
//   }
// }
