@mixin theme-btn($text: 'default', $bg: 'default', $border: 'default') {
  color: map-get($btn-text, $text);
  background: map-get($btn-bg, $bg);
  border: map-get($btn-border, $border);
}

@mixin theme-header($theme) {
  background-color: map-get(map-get($header, $theme), bg);

  @if $theme == light {
    position: relative;
    &::after {
      $border: 'border';
      content: '';
      position: absolute;
      height: 1px;
      width: 95%;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      background-color: map-get(map-get($header, $theme), border);
    }
  }
}

@mixin media-min($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
@mixin media-max($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
