@import '../../assets/scss/variables/colors';
@import '../../assets/scss/variables/media';
@import '../../assets/scss/mixins/mixins';

.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: map-get($main-content, bg);

  .container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    .main {
      @extend .container;
      overflow: hidden;

      .main__header-fixed {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .main__content {
        @extend .container;
        flex-flow: row wrap;
        overflow-y: auto;
        padding: 20px;
        justify-content: flex-start;
        align-content: flex-start;

        @include media-max(map-get($cards-media, 2) - 1) {
          justify-content: center;
        }
      }
    }
  }
}
