/* use maps to store element-specific colors */

$btn-text: (
  default: #8a8a8a,
);

$btn-bg: (
  default: none,
);

$btn-border: (
  default: none,
);

$nav: (
  bg: #f4f4f4,
  section-title: #c1c1c1,
);

$labels: #fe5151, #35b747, #088bd6, #ba61f2, #e9d33c;
