@import '../../../assets/scss/variables/colors';

.search-input {
  $height: 45px;

  width: 245px;
  padding: 22px;
  height: $height;
  border: none;
  border-radius: $height / 2;
  background-color: map-get($input-search, bg);
  color: map-get($input-search, text);

  &::placeholder {
    font-style: italic;
    font-family: inherit;
    font-weight: 500;
    color: map-get($input-search, text);
  }
}
