@import '../../../assets/scss/variables/colors';
@import '../../../assets/scss/mixins/mixins';
$themes: dark light;

.header {
  width: 100%;
  padding: 0 30px;
  height: 80px;
  display: flex;
  align-items: center;

  &--slim {
    height: 59px;
  }

  @each $theme in $themes {
    &--#{$theme} {
      @include theme-header($theme);
    }
  }
}
